.form-options-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}
@media screen and (max-width: 768px) {
  .form-options-container {
    width: 90%;
  }
}
.form-create-button {
  height: 40px;
  width: 110px;
  color: #fff;
  background-color: #f0ab0a;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .form-create-button {
    height: 35px;
    width: 90px;
  }
}
.forms-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 700px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media screen and (max-width: 768px) {
  .forms-data-container {
    width: 98%;
  }
}
.forms-data-heading {
  text-align: center;
  font-size: 24px;
}
.view-form-title {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .forms-data-heading {
    font-size: 14px;
  }
  .view-form-title {
    font-size: 14px;
  }
}
.view-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 600px;
  height: 400px;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .view-form-container {
    width: 98%;

    overflow-x: auto;
    margin-top: 15px;
  }
}

.view-input-filed-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.view-form-label {
  margin-right: 10px;
}
.view-input-field {
  height: 40px;
  width: 260px;
}
@media screen and (max-width: 768px) {
  .view-input-filed-container {
    flex-direction: column;
  }
  .view-form-label {
    align-self: start;
  }
  .view-input-field {
    height: 35px;
    width: 220px;
    margin-top: 10px;
  }
}

.form-edit-button {
  height: 40px;
  width: 90px;
  margin-left: 10px;
  color: #fff;
  background-color: #797b4f;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .form-edit-button {
    height: 35px;
    width: 90px;
    margin-right: 8px;
    margin-top: 8px;
  }
}
