.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}
.create-form-heading {
  font-size: 20px;
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .create-form-heading {
    font-size: 16px;
  }
}
.available-types-container {
  display: flex;
  align-items: center;
}
.available-label {
  margin-right: 10px;
}
.create-form-type-field {
  height: 40px;
  width: 260px;
}
@media screen and (max-width: 768px) {
  .create-form-type-field {
    height: 35px;
    width: 155px;
  }
}
.form-type {
  font-size: 18px;
}
.form-type-create-button {
  height: 40px;
  width: 90px;
  margin-left: 10px;
  color: #fff;
  background-color: #5adbb5;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .form-type-create-button {
    height: 35px;
    width: 70px;
    margin-right: 8px;
  }
  .new-form-type-create-button {
    margin-top: 10px;
  }
}
.new-field-button {
  height: 40px;
  width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #fff;
  background-color: #973741;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .new-field-button {
    height: 35px;
    width: 140px;
  }
}
.form-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60%;
  margin-top: 10px;
}

.form-title {
  font-size: 20px;
  justify-self: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .form-title-container {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 95%;
  }
  .form-title {
    font-size: 16px;
    position: absolute;
    left: 0;
  }
}
.form-title-change-button {
  height: 30px;
  width: 90px;
  margin-left: 10px;
  color: #fff;
  background-color: #676d0d;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 768px) {
  .form-title-change-button {
    width: 75px;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 60%;
  height: 500px;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
  .form-container {
    width: 95%;
    overflow-x: auto;
    margin-top: 15px;
  }
}

.input-filed-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-label {
  margin-right: 10px;
  width: 80px;
}
.input-field {
  height: 40px;
  width: 260px;
}
@media screen and (max-width: 768px) {
  .input-filed-container {
    flex-direction: column;
  }
  .form-label {
    align-self: start;
  }
  .input-field {
    height: 35px;
    width: 220px;
    margin-top: 10px;
  }
}
.new-form-fields-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
}
@media screen and (max-width: 768px) {
  .new-form-fields-container {
    flex-direction: column;
  }
}
.new-form-title-field {
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  width: 260px;
}
@media screen and (max-width: 768px) {
  .new-form-title-field {
    height: 30px;
    width: 200px;
    position: absolute;
    left: 0;
    margin-left: 0;
  }
}
.save-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.form-save-button {
  height: 40px;
  width: 90px;
  color: #fff;
  background-color: #2088f0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.new-input-field {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .new-input-field {
    margin-left: 0px;
  }
}

.delete-input-button {
  height: 40px;
  width: 90px;
  margin-left: 10px;
  color: #fff;
  background-color: #f81f1f;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .delete-input-button {
    height: 35px;
    width: 90px;
    margin-right: 8px;
    margin-top: 8px;
  }
}
